<div class="container text-center">
  <h1>Stupid coach</h1>
  <p class="m-3 bg-<%= @success %> text-white p-3 d-inline rounded"><%= @answer %></p>
  <button class="btn btn-outline-dark"><%= link_to "another question?", ask_path %></button>
</div>
